<div class="row recipe-row {{ class }}" itemscope itemtype="http://schema.org/Recipe">
    <div class="cover"></div>
    <div class="column-1 col-md-9 col-sm-12 col-xs-12">
        <section class="recipe-section">
            <article class="recipe">
                <div class="row no-gutter">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <h2><a href="{{ url }}" itemprop="name">{{ name }}</a></h2>
                    </div>
                </div>
                <div class="row">
                    {{#if servings}}
                    <div class="servings">
                        <span id="servings-recipe-{{ id }}" itemprop="recipeYield">{{ servings }}</span> portioner
                    </div>
                    {{/if}}
                    {{#each food_groups}}
                    <a class="btn btn-tag" href="{{ url }}">
                        {{name}}
                    </a>
                    {{/each}}
                    {{#if description}}
                    <div class="description" itemprop="description">
                        {{{ description }}}
                    </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 no-left-padding ingredients-wrapper">
                        <ul class="ingredients">
                        {{#each ingredients}}
                            <li itemprop="recipeIngredient">
                                {{#if amount}}
                                <span class="ingredient-amount">{{ amount }}</span>
                                {{/if}}
                                {{#if unit_short}}
                                <span class="ingredient-unit">{{ unit_short }}</span>
                                {{/if}}
                                <span class="ingredient-name">{{ text }}</span>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 instructions-wrapper">
                        <div class="instructions" itemprop="recipeInstructions">
                            {{{instructions}}}
                        </div>
                    </div>
                </div>
                <div class="row recipe-footer-row" id="recipe-footer-row-{{ id }}">
                    <div class="col-md-12">
                        <div class="like-recipe-wrapper">
                            Gillar du det här receptet?
                            <button class="btn btn-info vote-button" data-recipe-id="{{ id }}">Ja!</button> 
                            <button class="btn btn-default">Nej</button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="column-2 col-md-3 col-sm-12 col-xs-12">
        {{#if img_small}}
        <aside class="thumbnail recipe-image-wrapper">
            <img itemprop="image" class="recipe-image img-responsive" src="{{ img_small }}" data-1x="{{ img_medium }}" data-2x="{{ img_large }}" width="100%">
            <div class="caption">
                <h3>{{ name }}</h3>
            </div>
        </aside>
        {{/if}}
        {{#if nutrition}}
        <aside class="nutrition" itemprop="nutrition">
            <h3><span class="pull-left">Näring</span> <a href="#" class="nutrition-toggle btn btn-info pull-right" data-recipe-id="{{ id }}" data-current-nutrition="total">totalt</a></h3>
            <table class="nutrition-table">
                {{#each nutrition}}
                    {{#if val}}
                    <tr>
                        <th>{{key}}</th>
                        <td class="nutrition-recipe-{{ ../id }} nutrition-total">{{val}}</td>
                        <td class="nutrition-recipe-{{ ../id }} nutrition-phg">{{phg}}</td>
                        <td class="nutrition-recipe-{{ ../id }} nutrition-ps">{{ps}}</td>
                    </tr>
                    {{/if}}
                {{/each}}
            </table>
            <span class="footnote">Källa: <a href="http://www.livsmedelsverket.se/livsmedelsdatabasen" target="_blank">Livsmedelsverket</a></span>
        </aside>
        {{/if}}
    </div>
</div>
