<div class="row recipe-row {{ class }}" itemscope itemtype="http://schema.org/Recipe">
    <div class="cover"></div>
    <div class="column-1 col-md-9 col-sm-12 col-xs-12">
        <section class="recipe-section">
            <article class="recipe">
                <div class="row no-gutter">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <h2><a href="{{ url }}" itemprop="name">{{ name }}</a></h2>
                    </div>
                </div>
                <div class="row">
                    {{#if description}}
                    <div class="description" itemprop="description">
                        {{{ description }}}
                    </div>
                    {{/if}}
                </div>
                <div class="row tight-gutter">
                    {{#if servings}}
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                        <div class="nutrition-front">
                            <span class="key">Portioner:</span> <span id="servings-recipe-{{ id }}" itemprop="recipeYield">{{ servings }}</span>
                        </div>
                    </div>
                    {{/if}}
                    {{#each nutrition}}
                        {{#if val}}
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6">
                            <div class="nutrition-front" data-container="body" data-toggle="popover" data-placement="bottom" data-key="{{ key }}" data-phg="{{ phg }}" data-ps="{{ ps }}" data-info="{{ info }}">
                            {{#compare unit "kcal"}}
                                <span class="key">{{unit}}:</span> <span class="val">{{val}}</span>
                            {{else}}
                                <span class="key">{{name}}:</span> <span class="val">{{val}}</span> <span class="key">{{unit}}</span>
                            {{/compare}}
                            </div>
                        </div>
                        {{/if}}
                    {{/each}}
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12 no-left-padding ingredients-wrapper">
                        <ul class="ingredients">
                        {{#each ingredients}}
                            <li itemprop="recipeIngredient">
                                {{#if amount}}
                                <span class="ingredient-amount">{{ amount }}</span>
                                {{/if}}
                                {{#if unit_short}}
                                <span class="ingredient-unit">{{ unit_short }}</span>
                                {{/if}}
                                <span class="ingredient-name">{{ text }}</span>
                            </li>
                        {{/each}}
                        </ul>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12 instructions-wrapper">
                        <div class="instructions" itemprop="recipeInstructions">
                            {{{instructions}}}
                        </div>
                    </div>
                </div>
                <div class="row recipe-footer-row" id="recipe-footer-row-{{ id }}">
                    <div class="col-md-12">
                        <div class="alert alert-success" role="alert" data-recipe-id="{{ id }}">
                            <button type="button" class="close vote-button-dismiss" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <a href="#" class="alert-link vote-button">Jag kan rekommendera det här receptet!</a>
                        </div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <div class="column-2 col-md-3 col-sm-12 col-xs-12">
        {{#if img_small}}
        <aside class="thumbnail recipe-image-wrapper">
            <img itemprop="image" class="recipe-image img-responsive" src="{{ img_small }}" data-1x="{{ img_medium }}" data-2x="{{ img_large }}" width="100%">
            <div class="caption">
                <h3>{{ name }}</h3>
            </div>
        </aside>
        {{/if}}
    </div>
</div>
